
:root{
    --primary-color: #444;
}


body{
    background: var(--primary-color);
    color: white;
}




/* MEDIA QUERY MANAGER  */

/* 
0 - 600px(37.5em):      Phone
600 - 900px(56.25em):    Tablet Portrait
900-1200px(75em):     Tablet Landscape
1200 - 1800px(112.5em):  Desktop norm styles 
1800px+ :       Big desktop  
*/

/************TABLET LANDSCAPE & LAPTOP SCREEN 1200px**************/

@media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  }
  
  /************TABLET PORTRAIT SCREEN 900px**************/
  
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
    }
  }
  
  /************PHONE SCREEN 600px**************/
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%;
    }
  }
  
  /************DEKSTOP SCREEN 1800px**************/
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
  }
  